body {
    background-color: #23212c;
    
  }
  
  h1 {
    color:white;
    text-align:center;
    text-decoration: underline;
  }
  
  .barry {
    color:#FCD615;
    text-align: left;
    font-family: 'Indie Flower', cursive;
    font-size: 24px;
  }
  
  .vanessa {
    color:#992409;
    text-align: right;
    font-size:24px;
    font-family: 'Quattrocento', serif;
  }
  
  .italic {
    font-style:italic;
  }
  
  .striked {
    text-decoration: strikethrough;
  }
  
  .bolded {
    font-weight: bold;
  }
  
  .bee {
    color:#FCD615;
  }